ion-toolbar{
    ion-item{
        ion-button.mobile{
        }
    }
    ion-menu-toggle{
        display: none
    }
}

@media only screen and (max-width: 940px){
    ion-toolbar{
        ion-item{
            --padding-start: 360px !important;
            ion-img{
                display:none;
            }
            ion-button{
                span{
                    //display: none;
                    font-size: 1vh;
                }
            }
            ion-button:last-child{
                display:none;
            }
            ion-searchbar{
                display:none;
            }
        }
        ion-menu-toggle{
            display: block;
            position: absolute;
            right: 17px;
            top: 7px;
            ion-button.mobile{
                --padding-end: 0px !important;
                --ripple-color: transparent !important;
            }
        }
        
    }
}