<ion-content>
  <div class="bg-image"></div>
  <div class="foreground">
    <ion-card>
      <ion-card-header>
        <ion-button (click)="login()" fill="" style="position: absolute; top:25px; left: 10px; z-index: 9999;">
          <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
        </ion-button>
        <ion-card-title>Forgot Password</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item lines="none" color="light">
          <ion-icon slot="start" name="mail"></ion-icon>
          <ion-input [(ngModel)]="email_input" (keyup.enter)="reset()" type="email" placeholder="E-Mail"></ion-input>
        </ion-item>
        <ion-button (click)="reset()" expand="block">
          <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
          Reset Password
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

