ion-content{
  font-family: 'Nunito', sans-serif;
    div.grid{
        display: grid;
        height: 100%;
        gap: 10px;
        width: 100%;
        grid-template-areas: 
        "t t t t"
        "l m m r"
        "l m m r"
        "l m m r"
        "l m m r"
        ". f f .";
    }
    div.top{
        grid-area: t;
    }
    div.left{
        grid-area: l;
    }
    div.middle{
        grid-area: m;
        .swiper {
            width: 100%;
            height: 40vh; //450px
            top: 220px;
            padding-bottom: 50px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
          
        .swiper-slide {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 18px;
            font-size: 22px;
            font-weight: bold;
            color: #fff;
        }

        .card_image{
            transition: box-shadow 1s;
        }

        .card_active{
            -webkit-box-shadow: -10px 0px 13px -2px #000000, 10px 0px 13px -2px #000000, -2px 20px 19px 11px rgba(255,200,200,0); 
            box-shadow: -10px 0px 13px -2px #000000, 10px 0px 13px -2px #000000, -2px 20px 19px 11px rgba(255,200,200,0);
        }
        
        .swiper-slide:nth-child(1n) {
            background-color: rgb(206, 17, 17);
        }
        
        .swiper-slide:nth-child(2n) {
            background-color: rgb(0, 140, 255);
        }
        
        .swiper-slide:nth-child(3n) {
            background-color: rgb(10, 184, 111);
        }

        ion-button{
            position: absolute; bottom: -50px
        }

        .wrap {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: -10vh;

            .button {
                min-width: 300px;
                min-height: 60px;
                font-family: 'Nunito', sans-serif;
                font-size: 22px;
                text-transform: uppercase;
                letter-spacing: 1.3px;
                font-weight: 700;
                color: #313133;
                background: #4FD1C5;
              background: linear-gradient(90deg, #db1a29 0%, #db1a29 100%);
                border: none;
                border-radius: 1000px;
                box-shadow: 12px 12px 24px #db1a2a8e;
                transition: all 0.3s ease-in-out 0s;
                cursor: pointer;
                outline: none;
                position: relative;
                padding: 10px;
                }
              
              button::before {
              content: '';
                border-radius: 1000px;
                min-width: calc(300px + 12px);
                min-height: calc(60px + 12px);
                border: 6px solid #db1a29;
                box-shadow: 0 0 60px #db1a2a8e;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                opacity: 0;
                transition: all .3s ease-in-out 0s;
              }
              
              .button:hover, .button:focus {
                color: #313133;
                transform: translateY(-6px);
              }
              
              button:hover::before, button:focus::before {
                opacity: 1;
              }
              
              button::after {
                content: '';
                width: 30px; height: 30px;
                border-radius: 100%;
                border: 6px solid #db1a29;
                position: absolute;
                z-index: -1;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                animation: ring 1.5s infinite;
              }
              
              button:hover::after, button:focus::after {
                animation: none;
                display: none;
              }
              
              @keyframes ring {
                0% {
                  width: 30px;
                  height: 30px;
                  opacity: 1;
                }
                100% {
                  width: 300px;
                  height: 300px;
                  opacity: 0;
                }
              }
        }

        .ring:hover::before, .ring:focus::before {
            opacity: 1;
        }

        .ring{
            width: 200px; height: 200px;
            border-radius: 100%;
            border: 6px solid #db1a29;
            position: absolute;
            z-index: -1;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            animation: ring2 1.5s infinite;
        }

        .ring:hover::after, .ring:focus::after {
            animation: none;
            display: none;
          }

        @keyframes ring2 {
            0% {
              width: 200px;
              height: 200px;
              opacity: 1;
            }
            100% {
              width: 800px;
              height: 800px;
              opacity: 0;
            }
          }

    }
    div.right{
        grid-area: r;
    }
    div.foot{
        grid-area: f;
    }
}


